@model List<Data.Models.TinTuc>

<section class="latest spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Latest News</span>
                    <h2>Fashion New Trends</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach(var item in Model){
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" style="background-image: url('/Content/img/@Html.DisplayFor(moldelItem => item.Image)')"></div>
                        <div class="blog__item__text">
                            <span><img src="img/icon/calendar.png" alt="">@Html.DisplayFor(moldelItem => item.CreatedDate)</span>
                            <h5>@Html.DisplayFor(moldelItem => item.TieuDe)</h5>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            }

            @*<div class="col-lg-4 col-md-6 col-sm-6">
            <div class="blog__item">
                <div class="blog__item__pic set-bg" data-setbg="img/blog/blog-2.jpg"></div>
                <div class="blog__item__text">
                    <span><img src="img/icon/calendar.png" alt=""> 21 February 2020</span>
                    <h5>Eternity Bands Do Last Forever</h5>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="blog__item">
                <div class="blog__item__pic set-bg" data-setbg="img/blog/blog-3.jpg"></div>
                <div class="blog__item__text">
                    <span><img src="img/icon/calendar.png" alt=""> 28 February 2020</span>
                    <h5>The Health Benefits Of Sunglasses</h5>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>*@
        </div>
    </div>
</section>


